<app-header></app-header>
<app-text></app-text>
<app-heading></app-heading>
<app-bar></app-bar>

<!-- flujo.component.html -->
<div>
  <h2>Flujo de Tesis Directo - Estudiante</h2>

  <!-- Botón para agregar nueva evidencia -->
  <button (click)="openAddDialog()">Agregar +</button>

  <!-- Tabla para mostrar las evidencias -->
  <table>
    <thead>
    <tr>
      <th>Periodo</th>
      <th>Bimestre</th>
      <th>Fecha de Registro</th>
      <th>Descripción</th>
      <th>Evidencia</th>
      <th>Comentario</th>
      <th>Usuario</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let evidencia of evidencias">
      <td>{{ evidencia.periodo }}</td>
      <td>{{ evidencia.bimestre }}</td>
      <td>{{ evidencia.fechaRegistro | date }}</td>
      <td>{{ evidencia.descripcion }}</td>
      <td><a [href]="evidencia.evidenciaUrl" target="_blank">Ver archivo</a></td>
      <td>{{ evidencia.comentario }}</td>
      <td>{{ evidencia.usuarioNombre }} {{ evidencia.usuarioApellido }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Modal para agregar una nueva evidencia -->
  <div *ngIf="mostrarDialogoAgregar" class="modal">
    <div class="modal-content">
      <div class="centro">
        <h2>Agregar nueva evidencia</h2>

        <div class="author-info">
          <label><b>Autor: </b></label>
          <span> {{ usuarioLoggeado?.firstName }} {{ usuarioLoggeado?.lastName }}</span>
        </div>

        <div class="periodo-info">
          <label><b>Periodo: </b></label>
          <span> Oct/2024 - Feb/2025</span>
        </div>
      </div>


      <form (ngSubmit)="submit()">


        <div class="sup">
          <div class="form-group">
            <label>Fecha de registro</label>
            <input type="date" [(ngModel)]="form.fechaRegistro" name="fechaRegistro" required disabled>
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <input type="text" [(ngModel)]="form.descripcion" name="descripcion" placeholder="Redactar..." required>
          </div>

          <div class="form-group">
            <label>Comentario</label>
            <input type="text" [(ngModel)]="form.comentario" name="comentario" placeholder="Redactar...">
          </div>
        </div>



        <div class="inf">
          <div class="form-group">
            <label>Selecciona bimestre</label>
            <select [(ngModel)]="form.bimestre" name="bimestre" required>
              <option value="" disabled>Selecciona una opción</option>
              <option value="primero">Primero</option>
              <option value="segundo">Segundo</option>
            </select>
          </div>

          <div class="file-upload">
            <label>Carga aquí tu archivo <span class="required">*</span></label>
            <input type="file" (change)="onFileSelected($event)" required>
          </div>
        </div>


        <div class="modal-buttons">
          <button type="button" class="cancel-btn" (click)="cerrarDialogo()">Cancelar</button>
          <button type="submit" class="submit-btn">Crear</button>
        </div>
      </form>
    </div>
  </div>

</div>
<app-footer2></app-footer2>
