/* Seccion 1, Home */


.seccion-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9fcff;
  height: 725px;
}

.btn{
  display: inline-block;
  border-radius: 20px;
  color: #fff;
  background-color: #044170;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 14px;

}

.btn:hover{
  color: rgba(4, 65, 112, 1);
  background-color: #E2E2E2;
  border: solid 1px rgba(4, 65, 112, 1);
}

.img{
  margin-left: 5%;
  max-width: 632px;
  width: 45%;
}

.img img{
  height: 531px;
}

.content h1{
  font-size: 60px;
  color: #1A2434;
}

.content span{
  font-size: 48px;
  color: #1A2434;
  padding: 1rem 0;
  line-height: 1.5;
}
.content p {
  font-size: 20px;
  color: #1A2434;
  padding: 1rem 0;
  line-height: 1.5;

}
/* Seccion 2, Info */

.seccion-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 9%;
  background-color: #f9fcff;
}
.nuestro{
  display: flex;
}
.nuestro img {
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}
.nuestro span{
  font-size: 18px;
}


.imagen-seccion2{
  display: flex;
  gap: 80px;
}

.imagen-seccion2 h3{
  font-size: 36px;
}

.imagen-seccion2 p{
  font-size: 16px;
  text-align: justify;
  line-height: 1.75;
}

.seccion-3{
  background-color: #f9fcff;
}

.objetivo{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.estadisticas {
  display: flex;
  justify-content: center; /* Centra los elementos */
  gap: 25%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el contenido de cada bloque al centro */
  justify-content: center;
}

.info h3 {
  font-size: 36px;
}

.info p {
  font-size: 20px;
}

/*Seccion 4*/
.seccion-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: white;
}

.leyenda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.leyenda img {
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.plataforma {
  display: flex;
  justify-content: center;
  max-width: 800px;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}

.plataforma h3 {
  margin: 0;
}

/*Seccion 5*/

.seccion-5{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: #f9fcff;
}


/* Estilos para las cajas */
.cajas {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.caja {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 375px;
  text-align: center;
  font-size: 14px;
  color: #555555;
}


/* Seccion 6, Comentarios */

.seccion-6 {
  display: flex;
  justify-content: space-between;
  background-color: #f7d488; /* Fondo color amarillo */
  text-align: center;
  align-content: center;

}


.comentarios {
  display: flex;
  justify-content: space-between; /* Esto separará los elementos */
  width: 100%;
  align-items: center; /* Alinea los elementos verticalmente */
}

.comentarios h2 {
  font-size: 24px;
  color: #000;
  align-content: center;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.comment-box input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff4d0; /* Color de fondo del cuadro de texto */
  font-size: 16px;
  outline: none;
}

.comment-box button {
  padding: 10px 20px;
  background-color: #2c2c31; /* Color del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.comment-box button:hover {
  background-color: #444; /* Cambia el color al hacer hover */
}
