<app-header></app-header>
<section class="seccion-4">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      AT + 360 U-T-S
    </span>
  </div>
  <div class="plataforma">
    <h3>
      Plataforma Transformación Académica + Visor 360 Docente - Estudiante
    </h3>
  </div>
</section>

<app-bar></app-bar>
<div class="personal-data-container">
  <h2>Datos Personales</h2>

  <div class="inicio">
    <!-- Documento de Identidad -->
    <div class="campo">

    <label for="document" class="required-label">Documento de Identidad</label>
    <select id="document" [(ngModel)]="selectedDocument">
      <option value="pasaporte">Pasaporte</option>
      <option value="residencia">Residencia</option>
      <option value="cedula">Cédula</option>
    </select>
    </div>
    <!-- Foto Documento de Identidad -->
    <div class="file-upload-container">
      <label for="idDocPhoto" class="required-label">Adjuntar</label>
      <input type="file" id="idDocPhoto" (change)="onFileSelected($event, 'idDocPhoto')" />
      <label for="fileUpload" class="custom-file-upload">
        <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
        Adjunta tu documento aquí
      </label>
      <span class="file-types">Puede ser pdf, png, jpg</span>
    </div>


  </div>

<div class="calendario">
  <!-- Fecha de Nacimiento -->
  <div class="campo">
  <label for="birthdate" class="required-label">Fecha de Nacimiento</label>
  <input type="date"  id="birthdate" [(ngModel)]="birthdate" required/>
  </div>
  <!-- Fecha de Utpl -->
    <div class="campo">
  <label for="utpldate" class="opcional">Fecha de Ingreso a la Utpl</label>
  <input type="date" id="utpldate" [(ngModel)]="utpldate" required />
    </div>
</div>

  <div class="informacion-obligatoria">
    <div class="campos">
      <!-- Nombres -->
      <div class="campo">
        <label for="firstName" class="required-label">Nombres</label>
        <input  placeholder="Text" type="text" id="firstName" [(ngModel)]="firstName" required />
      </div>

      <!-- Apellidos -->
      <div class="campo">
        <label for="lastName" class="required-label">Apellidos</label>
        <input placeholder="Text" type="text" id="lastName" [(ngModel)]="lastName" required />
      </div>

      <!-- Sexo -->
      <div class="campo">
        <label for="gender" class="required-label">Sexo</label>
        <select id="gender" [(ngModel)]="gender" required>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
      </div>

      <div class="campo">
        <!-- Nacionalidad -->
        <label for="nationality" class="required-label">Nacionalidad</label>
        <input placeholder="Text" type="text" id="nationality" [(ngModel)]="nationality" required />
      </div>

      <div class="campo">
        <!-- Foto ID UTPL -->
        <label class="required-label">Foto ID UTPL</label>
        <div class="file-upload-container">
          <input type="file" id="fileUpload" (change)="onFileSelected($event, 'idPhoto')" />
          <label for="fileUpload" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            Adjunta tu foto aquí (png, jpg)
          </label>
        </div>
      </div>
    </div>

    <div class="campos">
      <!-- Domicilio -->
      <div class="campo">
        <label for="address" class="required-label">Domicilio</label>
        <input placeholder="Text" type="text" id="address" [(ngModel)]="address" required />
      </div>

      <div class="campo">
        <!-- Localidad -->
        <label for="city" class="required-label">Localidad</label>
        <input placeholder="Text" type="text" id="city" [(ngModel)]="city" required />
      </div>

      <div class="campo">
        <!-- Email UTPL -->
        <label for="utplEmail" class="required-label">Email UTPL</label>
        <input placeholder="Text" type="email" id="utplEmail" [(ngModel)]="utplEmail" required />
      </div>

      <div class="campo">
        <!-- Email personal -->
        <label for="personalEmail" class="required-label">Email personal</label>
        <input placeholder="Text" type="email" id="personalEmail" [(ngModel)]="personalEmail" required />
      </div>

      <div class="campo">
        <!-- Código Postal -->
        <label for="postalCode" class="required-label">Código Postal</label>
        <input placeholder="Numb" type="number" id="postalCode" [(ngModel)]="postalCode" required />
      </div>
    </div>

    <div class="campos">
      <div class="campo">
        <!-- País -->
        <label for="country" class="required-label">País</label>
        <select id="country" [(ngModel)]="country" required>
          <option value="ecuador">Ecuador</option>
        </select>
      </div>

      <div class="campo">
        <!-- Provincia -->
        <label for="province" class="required-label">Provincia</label>
        <input placeholder="Text" type="text" id="province" [(ngModel)]="province" required />
      </div>

      <div class="campo">
        <!-- Teléfono Fijo -->
        <label for="landline" class="required-label">Teléfono fijo</label>
        <input placeholder="Numb" type="tel" id="landline" [(ngModel)]="landline" required />
      </div>

      <div class="campo">
        <!-- Teléfono Celular -->
        <label for="mobile" class="required-label">Teléfono celular</label>
        <input placeholder="Numb" type="tel" id="mobile" [(ngModel)]="mobile" required />
      </div>
    </div>

    <!-- Información de Discapacidad -->

    <div class="discapacidad">
      <input type="checkbox" id="disability" [(ngModel)]="hasDisability" (change)="toggleDisabilityFields()" />
      <label for="disability" class="opcional">Capacidad Especial</label>
    </div>


    <!-- Campos de Discapacidad -->
    <div *ngIf="hasDisability" class="campos">
      <div class="campo">
        <label for="disabilityPercentage" class="opcional">Grado de Discapacidad</label>
        <input placeholder="Numb" type="number" id="disabilityPercentage" [(ngModel)]="disabilityPercentage" />

      </div>

      <div class="campo">
        <label for="disabilityType" class="opcional">Tipo de Discapacidad</label>
        <input placeholder="Text" type="text" id="disabilityType" [(ngModel)]="disabilityType" />
      </div>

      <div class="campo">
        <!-- Documento Discapacidad -->
        <label class="required-label">Adjuntar documento discapacidad</label>
        <div class="file-upload-container">
          <input type="file" id="idDiscPhoto" (change)="onFileSelected($event, 'idDiscPhoto')" />
          <label for="idDiscPhoto" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            Adjunta tu foto aquí (pdf, word)
          </label>
        </div>
      </div>
    </div>



    <div class="campos">
      <!-- Actividad Laboral -->
      <div class="campo">
      <label for="laborActivity" class="required-label">Actividad Laboral</label>
      <select id="laborActivity" [(ngModel)]="laborActivity">
        <option value="empleado">Empleado</option>
        <option value="estudiante">Estudiante</option>
        <option value="desempleado">Desempleado</option>
        <option value="otro">Otro</option>
      </select>
      </div>

      <!-- Checkbox para Beca -->
      <div class="campo">
        <label for="scholarship" class="opcional">Beca</label>
        <input type="checkbox" id="scholarship" [(ngModel)]="hasScholarship" (change)="toggleScholarshipFields()" />
      </div>

      <!-- Campos de Beca -->
      <div *ngIf="hasScholarship">
        <label for="scholarshipPercentage" class="opcional">Porcentaje de Beca</label>
        <input placeholder="Numb" type="number" id="scholarshipPercentage" [(ngModel)]="scholarshipPercentage" />
      </div>

    </div>

  <div class="guardar">
    <!-- Botón de Finalizar -->
    <button (click)="finalize()">Guardar</button>
  </div>

</div>
</div>

<app-footer></app-footer>
