<app-header></app-header>
<app-text></app-text>
<section class="seccion-4">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      AT + 360 U-T-S
    </span>
  </div>
  <div class="plataforma">
    <h3>
      Plataforma Transformación Académica + Visor 360 Docente - Estudiante
    </h3>
  </div>
</section>

<app-bar></app-bar>

<h2>Ingreso y validación de documentación</h2>


<table>
  <thead>
  <tr>
    <th>Ingreso documento digital</th>
    <th>Descripción de Documento</th>
    <th>Fecha de ingreso</th>
    <th>Fecha de validación</th>
    <th>Observaciones</th>
    <th>Docente</th>
    <th>Director</th>
    <th>Secretario</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doc of documents">
    <td><a [href]="doc.link" target="_blank">Ver documento</a></td>
    <td>{{ doc.descripcion }}</td>
    <td>{{ doc.fechaIngreso }}</td>
    <td>{{ doc.fechaValidacion || '-' }}</td>
    <td>{{ doc.observaciones || 'Ninguna' }}</td>
    <td>{{ doc.docente || 'En espera' }}</td>
    <td>{{ doc.director || 'En espera' }}</td>
    <td>{{ doc.secretario || 'En espera' }}</td>
  </tr>
  <tr *ngIf="addingDocument">
    <td><input type="file" (change)="onFileSelected($event)" /></td>
    <td><input type="text" [(ngModel)]="newDocument.descripcion" /></td>
    <td><input type="date" [(ngModel)]="newDocument.fechaIngreso" /></td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  </tbody>
</table>

<div class="btns">
  <button *ngIf="!addingDocument" (click)="addDocument()">Agregar +</button>


  <button *ngIf="addingDocument" (click)="confirmDocument()">Guardar</button>

  <button *ngIf="!addingDocument" (click)="printDocument()">Imprimir</button>
</div>

<app-footer2></app-footer2>
