/* Estilos del contenedor principal */
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
}

/* Títulos principales */
.info-container h2 {
  margin-top: 25px;
  color: #003F72;
  font-size: 38px;
}

.info-container h3 {
  color: #EAAB01;
  font-size: 20px;
  margin-top: 10px;
}

.info-container img{
  max-width: 280px;
}
/* Estilo para el texto introductorio */
.texto-introductorio {
  display: flex;
  margin-top: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;
}

/* Estilos del contenedor de selección */
.seleccion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20%;
  align-items: center;
}

/* Estilo del contenedor de selección de roles */
.roles-selection {
  border-color: #1A2434;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.roles-selection label {
  font-size: 14px;
  color: #1A2434;
  margin-bottom: 5px;
}

/* Estilos del select */
.roles-selection select{
  appearance: none;
  padding: 10px;
  border: 1px solid #1A2434;
  border-radius: 8px;
  font-size: 14px;
  width: 250px;
  background-color: #fff;
  color: #1A2434;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una sombra */
  background-image: url('/assets/img/flecha.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

/* Estilos de las opciones del select */
.roles-selection option {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #1A2434;
}

/* Contenedor de selección de modalidad */
.modality-selection {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.modalidad {
  display: flex;
  gap: 35px;
  justify-content: space-around;
}

/* Estilos de los botones de modalidad */
.modalidad button {
  border: none;
  background-color: #ffffff; /* Mantiene el fondo blanco */
  color: black; /* Color inicial del texto */
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease;
}

/* Efecto hover solo en el texto */
.modalidad button:hover {
  color: #003F72;
  font-weight: bold;
}

.abs{
  background-color: rgba(4, 65, 112, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.abs:hover{
  color: #003F72;
  font-weight: bold;
  background-color: white;
}


/* Estilo de la selección de clases */

.classes-select{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  gap: 10px;
}


.classes-select label {
  text-align: center;
}

.classes-select select {
  appearance: none;
  padding: 10px;
  border: 1px solid #1A2434;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  color: #1A2434;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url('/assets/img/flecha.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

.role-select select {
  appearance: none;
  padding: 10px;
  border: 1px solid #1A2434;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
  background-color: #fff;
  color: #1A2434;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url('/assets/img/flecha.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
  margin-top: 10px;
}

.classes-select option {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #1A2434;
}

.role-select option {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #1A2434;
}

/* Botón de perfil */
.perfil-boton button {
  display: inline-block;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: .8rem 2.5rem;
  cursor: pointer;
  font-size: 13px;
}

.perfil-boton button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}



.seguimiento {
  text-align: center;
  padding: 20px;
}

.buscador {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buscador input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
}

.buscador button {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buscador button:hover {
  background-color: #374151;
}

.tabla-container {
  margin: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1.5px solid #000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #fff;
}

.completado {
  color: green;
}

.faltante {
  color: red;
}

.descargar-btn {
  background-color: rgba(4, 65, 112, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.descargar-btn:hover {
  background-color: #374151;
}

.a{
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
}



